apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- service.yaml
images:
- name: changeonbuild
  newName: us-central1-docker.pkg.dev/gcdeveloper/demo-app/customer
  newTag: 4be197b
