apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: customer
spec:
  template:
    metadata:
    annotations:
      run.googleapis.com/vpc-access-connector: cloudrun-vpc-con
      run.googleapis.com/vpc-access-egress: all-traffic  
    spec:
      containers:
      - image: changeonbuild:changeonbuild
        resources:
          limits:
            cpu: "1"